@import '_vars';
@import '_global';
@import '_fonts';

// start header 
.header__top-inner{
    display: flex;
    justify-content: space-between;
    height: 90px;
    align-items: center;
}
.header__text{
    margin-left: auto;
    margin-right: 50px;
    span{
        color: $red;
    }
}

.header__btn{
 padding: 4px;
 width: 72px;
 border-radius: 4px;
 text-align: center;
 color: #fff;
 font-size: 12px;
}
.header__btn-login{
    background-color: $green;
}
.header__btn-register{
    background-color: $red;
    margin-left: 7px;
}

.header__menu{
    background-color: $bg;
    
    
}
.menu{
    display: flex;
    align-items: center;
    height: 60px;
}
.menu__list{
    li{
        display: inline-block;
        & + li{
            margin-left: 30px;
        }
    }
    a{
        color: #fff;
        font-size: 14px;
    }
}
//end header
// start search 
.search{
    // background-image: url(../images/search-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 533px;
}
.search__inner{
    padding-top: 155px;
    padding-bottom: 100px;
    color:#fff;
    text-align: center;
    &-title{
        margin-bottom: 10px;
        font-size: 48px;
        font-weight: 700;
        line-height: 72px;
    }
    &-text{
        
        margin-bottom: 50px;
        font-size: 20px;
        line-height: 30px;
        font-weight: 500;
    }
    &-form{
        max-width: 670px;
        margin: 0 auto;
        position: relative;
        input{
            display: block;
            width: 100%;
            box-shadow: 0px 1px 10px 2px rgba(124, 178, 64, 0.75);
            border-radius: 4px;
            height: 56px;
            border: none;
            font-style: 14px;
            font-weight: 500;
            padding-left: 25px;
            padding-right: 60px;
            &:focus{
                outline: 0;
                // border: solid 1px $green;
            }

            &::placeholder{
                color: #90a4ae;
                font-weight: 500;
            }
        }
        button{
            position: absolute;
            border: none;
            background-color: transparent;
            right: 20px;
            top: 17px;
        }
    }
}
// end search 

// start products 
.products{
    padding: 110px 0px;
    background-color: $bg-grey;
}
.products__inner-btn{
    text-align: center;
    margin-bottom: 60px;
    
    button{
        padding: 12px 21px;
        border: none;
        background-color: #fff;
        color: $bg;
        cursor: pointer;
        &+button{
            margin-left: 5px;
        }
    }
}
.product__item{
    max-width: 442px;
    width: 100%;
    
    &-img{
        min-height: 250px;
        background-repeat: no-repeat;
        display: block;
        background-position: center;
        background-size: cover;
    }
}

//end products