@import '_vars';
@import '_global';
@import '_fonts';

// start header 
.header__top-inner{
    display: flex;
    justify-content: space-between;
    height: 90px;
    align-items: center;
}
.header__text{
    margin-left: auto;
    margin-right: 50px;
    span{
        color: $red;
    }
}

.header__btn{
 padding: 4px;
 width: 72px;
 border-radius: 4px;
 text-align: center;
 color: #fff;
 font-size: 12px;
}
.header__btn-login{
    background-color: $green;
}
.header__btn-register{
    background-color: $red;
    margin-left: 7px;
}

.header__menu{
    background-color: $bg;
    
    
}
.menu{
    display: flex;
    align-items: center;
    height: 60px;
}
.menu__list{
    li{
        display: inline-block;
        & + li{
            margin-left: 30px;
        }
    }
    a{
        color: #fff;
        font-size: 14px;
    }
}
//end header
// start search 
.search{
    // background-image: url(../images/search-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 533px;
}
.search__inner{
    padding-top: 155px;
    padding-bottom: 100px;
    color:#fff;
    text-align: center;
    &-title{
        margin-bottom: 10px;
        font-size: 48px;
        @include f700;
        line-height: 72px;
    }
    &-text{
        
        margin-bottom: 50px;
        font-size: 20px;
        line-height: 30px;
        @include f500;
    }
    &-form{
        max-width: 670px;
        margin: 0 auto;
        position: relative;
        input{
            display: block;
            width: 100%;
            box-shadow: 0px 1px 10px 2px rgba(124, 178, 64, 0.75);
            border-radius: 4px;
            height: 56px;
            border: none;
            font-style: 14px;
            @include f500;
            padding-left: 25px;
            padding-right: 60px;
            &:focus{
                outline: 0;
                // border: solid 1px $green;
            }

            &::placeholder{
                color: #90a4ae;
                @include f500;
            }
        }
        button{
            position: absolute;
            border: none;
            background-color: transparent;
            right: 20px;
            top: 17px;
        }
    }
}
// end search 

// start products 
.products{
    padding: 110px 0px;
    background-color: $bg-grey;
}
.products__inner-btn{
    text-align: center;
    margin-bottom: 60px;
    
    button{
        padding: 12px 21px;
        border: none;
        background-color: #fff;
        color: $bg;
        // outline: 0;
        
        cursor: pointer;
        &+button{
            margin-left: 5px;
        }
        &.mixitup-control-active{
            background-color: $red;
            color:#fff;
            outline:0;
            // box-shadow: 0 0 0 2px lightskyblue;
        }
    }
}
.products__inner-box{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.product__item{
    max-width: 442px;
    width: 100%;
    box-shadow: 0px 1px 2px 0px rgba(205, 214, 222, 0.75);
    margin-bottom: 30px;
    
    &-img{
        min-height: 250px;
        background-repeat: no-repeat;
        display: block;
        background-position: center;
        background-size: cover;
    }
    &-content{
        display: flex;
        justify-content: space-between;
        padding: 10px 30px;
        min-height: 90px;
        @include f500;
        align-items: center;
        border-bottom: 1px solid #e7ecf2;
    }
    &-name{
        max-width: 310px;
        
    }
    &-title{
        color: $bg;
        font-size: 18px;
        display: block;
    }
    &-category{
        display: block;
        color: $green;
        font-size: 14px;        
    }
    &-price{
        font-size: 20px;
        color: $bg;
        @include f700;
    }

    &-info{
        display: flex;
        justify-content: space-between;
        align-items: center;
        min-height: 70px;
        padding: 10px 30px;

    }
    &-author{
        display: flex;
        align-items: center;
        max-width: 245px;
        .avatar{
            width: 30px;
            height: 30px;
            border-radius: 50%;
            background-position: center;
            display: inline-block;
            background-repeat: no-repeat;
            background-size: cover;
            margin-right: 14px;
            
        }
        span{
            font-size: 14px;
            @include f500;  
        }        
    }
    &-star{
        font-size: 12px;
        span{
            color: $bg;
        }
    }
}
.products__bottom-btn{
    
    text-align: center;
    button{
        margin: 45px 5px 5px 0;
        box-shadow: 0px 1px 3px 0px rgba(204, 216, 228, 0.75);
        border: none;
        background-color: #fff;
        color: $bg;
        padding: 20px 30px;
        cursor: pointer;
        // outline:0;
        &.mixitup-control-active{
            background-color: $red;
            color:#fff;
            outline:0;
            // ad 
            // box-shadow: 0 0 0 2px lightskyblue;
        }
    }

}

//end products

// start product-slider 
.product-slider{
    padding: 110px 0px 120px;
    .slick-dots{
        text-align: center;
        margin-top: 50px;
        li{
            display: inline-block;
            margin-left: 3px;
            margin-right: 3px;            
            button{
                border-radius: 50%;
                background-color: rgb(232,232,232);
                border: none;
                font-size: 0;
                width: 16px;
                height: 16px;
                cursor: pointer;
                outline: none;
            }
            &.slick-active{
                button{
                    background-color: $green;
                }
            }
        }
    }
}
// end product-slider 

// start advantages 
.advantages{
    background-color: $bg;
    padding: 110px 0;
}
.advantages__title{
    color:#fff;
}
.advantages__inner{
    display: flex;
    justify-content: space-between;
}
.advantages__item{
    max-width: 370px;
    text-align: center;
    padding: 0 15px;
    
    &:hover{
        .advantages__item-images{
            background-color: $green;
            g{
                fill:#fff;
            }            
        }
        .advantages__item-title{
            color: $green;
        }
    }
    &-images{
        width: 114px;
        height: 114px;
        background-color: #fff;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        transition: all .5s;
    }
    &-title{
        color:#fff;
        margin-top: 25px;
        margin-bottom: 25px;
        @include f500;
        font-size: 24px;
        transition: all .3s;
    }
    &-text{
        font-size: 15px;
        color: #b0bec5;
    }
}
// end advantages 

// start author 
.author{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 750px;
    display: flex;
    justify-content: center;
    align-items: center;
    &__box{
        background-color: $green;
        max-width: 650px;
        width: 100%;
        min-height: 215px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    &__title{
        color:#fff;
        font-size: 30px;
        line-height: 36px;
        margin-right: 45px;
        max-width: 280px;
        span{
            @include f700;
        }
    }
    &__link{
        font-size: 18px;
        line-height: 36px;
        height: 64px;
        padding: 14px 40px;
        background-color: #fff;
    }
}
// end author 

// start tutorial
.tutorial{
    padding: 60px 0px 120px;
    &__inner{
        display: flex;
        justify-content: space-between;
    }
    &__item{
        max-width: 370px;
        width: 100%;        
    }
}
.tutorial__item{
    &-images{
        min-height: 270px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        
    }
    &-title{
        font-size: 24px;
        @include f700;
        background-color: #f8f8f8;
        text-align: center;
        color: $bg;
        padding: 30px 10px;
    }
}
// end tutorial